body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    position: relative;
}

#header {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#content {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 200px;
}

li:hover {
    transform: scale(1.05);
}

.order-info {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.added-by {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}
.dropbtn {
    background-color: #91a392;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
 
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }
  .container {
    display: flex;
}

.box {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color:aqua;
    color: #fff;
    text-align: center;
}
.btn{

height: 30px;

}
#icon{
height: 50px;
width: 50px;
border-radius: 20px;

}




